name: build

on:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  cicd:
    name: Go CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: go build -o bin/bored .
